<h1>Контакты</h1>

<p>Мы всегда готовы помочь вам! Если у вас есть вопросы, предложения или отзывы, свяжитесь с нами:</p>

<ul>
  <li>Электронная почта: <a href="mailto:support@example.com">support@example.com</a></li>
  <li>Телефон: +1 (123) 456-7890</li>
  <li>Адрес: 1234 Street Name, City, Country</li>
</ul>

<h2>Следите за нами в социальных сетях:</h2>
<ul>
  <li><a href="https://twitter.com/example" target="_blank">Twitter</a></li>
  <li><a href="https://facebook.com/example" target="_blank">Facebook</a></li>
  <li><a href="https://instagram.com/example" target="_blank">Instagram</a></li>
</ul>

<p>Мы ценим ваше мнение и всегда готовы ответить на ваши вопросы!</p>