<h1>Часто задаваемые вопросы (FAQ)</h1>

<h2>1. Как создать учетную запись?</h2>
<p>Чтобы создать учетную запись, перейдите на страницу регистрации и заполните необходимые поля. После этого вы получите подтверждение на вашу электронную почту.</p>

<h2>2. Зачем мне это приложение?</h2>
<p>Наше приложение поможет вам управлять заметками и изображениями, сохраняя их в одном месте. Вы сможете легко организовать свои мысли и идеи, а также быстро получать доступ к ним из любого устройства.</p>

<h2>3. Безопасны ли мои данные?</h2>
<p>Да, мы принимаем безопасность данных пользователей очень серьезно. Все данные хранятся на защищенных серверах, и мы используем шифрование для защиты личной информации.</p>

<h2>4. Как мне восстановить пароль?</h2>
<p>На странице входа нажмите на ссылку "Забыли пароль?". Вам будет предложено ввести адрес электронной почты, и вы получите инструкции по восстановлению пароля.</p>

<h2>5. Могу ли я удалить свою учетную запись?</h2>
<p>Да, если вы решили, что больше не хотите использовать наше приложение, вы можете удалить свою учетную запись в настройках профиля. Пожалуйста, обратите внимание, что удаление аккаунта необратимо.</p>

<h2>6. Как я могу оставить отзыв?</h2>
<p>Мы будем благодарны за ваши отзывы! Вы можете отправить свои комментарии через нашу страницу "Контакты" или оставить отзыв в приложении.</p>